$dark: hsl(0, 0%, 21%);
$light: hsl(0, 0%, 90%);
$white: hsl(0, 0%, 100%);
$font-primary: 'Open Sans', sans-serif;;

/* Composition */
body {
    margin: 0px 0px;
    font-family: $font-primary;
    color: $dark;
}

summary {
    padding: 1em;
    background: $white;
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: .3em;
    font-weight: bold;
    transition: background-color .3s;
    &:hover{
        background: $light;
    }
    &::-webkit-details-marker {
        background: url('./assets/chevron-down.svg') center no-repeat;
        color: transparent;
        width: 17px;
        height: 17px;
    }
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
    margin-bottom: 1em;
}

details[open] summary::-webkit-details-marker {
    background: url('./assets/chevron-up.svg') center no-repeat;
    color: transparent;
}

@keyframes sweep {
    from {
        opacity: 0; margin-top: -10px;
    }
    to {
        opacity: 1; margin-top: 0;
    }
}



/* Utility */

.is-fullheight {
    min-height: 100vh;
}

.title {
    font-size: 3rem !important;
    margin: 0 0;
}

.subtitle {
    font-size: 2rem !important;
    margin: 0 0;
}

.container {
    margin: auto 100px;
}

.button {
    all: unset;
    font-family: $font-primary;
    background-color: $light;
    color: $dark;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 25px;
    margin: auto 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 30px;
    flex-wrap: nowrap;
    .navbar-brand{
        order: 0;
    }
    .navbar-menu{
        order: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .navbar-item{
        margin: auto 15px;
        a {
            all: unset;
            color: $light;
            &:hover {
                cursor: pointer;
            }
            &:visited {
                all: unset;
            }
            &:active {
                all: unset;
            }
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    .hero-head{
        order: 0;
    }
    .hero-body{
        order: 1;
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 48px 24px;
    }
    .hero-foot{
        order: 2;
    }
}

.mr-5 {
    margin-right: 5px;
}

/* Block */
#titlehero {
    color: $light;
    canvas {
        display: block!important;
        width: 100%;
        height: 100%;
        position:absolute;
        top:0;
        left:0;
        z-index:5;
    }
    .container {
        margin: auto 15vw;
    }
    .up-front{
        position: relative;
        z-index: 20;
    }
    &:after {
        width:100%;
	    height:100%;
	    content: '';
	    position: absolute;
	    z-index: 10;
	    top:0;
	    left:0;
    }
}

#section1 {
    background-color: $white;
    padding: 50px 0;
    .hero-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        #aboutMe {
            display: flex;
            flex-direction: row;
            .image{
                order: 0;
                margin: auto 50px auto 0;
                img {
                    border: 2px solid $dark;
                }
            }
            .description{
                order: 1;
                max-width: 60ch;
                p{
                    font-size: 1.3rem;
                    text-align: justify;
                }
            }
        }
        #professionalExperience, #education {
            padding-top: 50px;
            hr {
                margin-bottom: 1em;
            }
            summary {
                background: #A0785B;
                color: $white;
                &:hover{
                    background: #D1A077;
                }
            }
            details p {
                text-align: justify;
            }

            li {
                font-size: 1.25em;
            }
        }
    }
}

#section2{
    background-color: #A0785B;
    padding: 50px 0;
    color: $white;
    .hero-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   .title{
        margin-bottom: 0.5em;
    }

    summary{
        color: $dark;
        span {
            float: right;
            margin-right: 10px;
            transform: translateY(-5px);
            a {
                text-decoration: none;
                color: $dark!important;
                &:hover {
                    color: black!important;
                }
            }
        }
    }
    details p{
        text-align: justify;
        font-weight: 700;
    }

    .hero-foot {
        text-align: center;
    }
}